<div class="flex flex-column">
  <% @semesters.each do |semester| %>
    <% if current_user %>
      <%= link_to semester.name, [@course, semester], class: 'clickable-row' %>
    <% elsif current_student %>
      <%= link_to semester.name, [@course, semester, :lessons], class: 'clickable-row' %>
    <% end %>
  <% end %>
</div>
