<h1>Hello Director,</h1>

<p>
  You are receiving this email because <%= @student.name %>, a student in <%= @semester.course.name %> - <%= @semester.name %>, was absent in yesterday's class. You must do something about this. Do it.
</p>
