<h1>Hey <%= @student.name %></h1>

<p>
  You are receiving this email because we noticed that you were not marked present at yesterday's class. Please let us know if we did this incorrect, if there is anything going on in your life, or if there is anything we can do to help.
</p>
