<p>Hello <%= @student.name %>,</p>

<p>
  We missed you in class yesterday! If you are receiving this email in error and you were in class yesterday, please contact your instructor. Otherwise, we hope to see you next time!
</p>

<p>
  Best,
</p>

<p>
  Code The Dream
</p>
