<h1 class="card-title">Students</h1>

<%= render 'layouts/search', path: students_path, placeholder: 'Search' %>

<%= render 'table' %>

<%= back_button root_path %>

<%= add_button new_student_path %>
