<h2>User</h2>

<h4 class="card-title">Email</h4>

<p class="card"><%= @user.email %></p>

<h4 class="card-title">Teacher</h4>

<p class="card"><%= @user.teacher ? 'True' : 'False' %></p>

<%= back_button users_path %>

<%= edit_button edit_user_path @user %>
