<h2>Frequently Asked Questions</h2>

<p>Before you ask anything, watch this short tutorial.</p>

<%# https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php %>
<div class="video-container">
  <%# copied from youtube %>
  <iframe width="100%" height="auto" src="https://www.youtube-nocookie.com/embed/teunvDj3iqE?rel=0" frameborder="0" allowfullscreen></iframe>
</div>

<p>Still have questions? Watch it again!</p>
