a {
  color: $blue;
  text-decoration: none;
}

.link {
  border-bottom: 1px solid transparent;

  &:hover {
    border-color: currentColor;
  }
}

.clickable-row {
  @extend .link;
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  flex-grow: 1;
  margin-bottom: 1em;
  padding: 1em;

  &:hover {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
    // background: #F9F9F9; // #F2F2F2;
  }
}

// Sortable column arrows
.asc:after, .desc:after {
  font-family: FontAwesome;
  margin-left: .1em;
}
.asc:after {
  content: "\f106";
}
.desc:after {
  content: "\f107";
}
