<%= form_for course do |f| %>
  <div class="card field">
    <span>
      <%= f.text_field :name, autocomplete: :off, class: 'm0' %>
      <%= f.label :name %>
    </span>
  </div>

  <%= submit_button f %>
<% end %>
