<h2 class="card-title"><%= @course.name %></h2>

<div class="flex-container flex-column">
  <%= link_to 'Semesters', course_semesters_path(@course), class: 'clickable-row' %>
</div>

<%= back_button courses_path %>

<%= edit_button edit_course_path @course %>
