$red: #CC0040; //#A80017 #ED3B39 #E01A10
$green: #0F9D58;
$blue: #4D90FE;

// sass media query sizes
$phone-width: 768px;
$tablet-width: 992px;
$desktop-width: 1200px;

// sass mixins
@mixin mobile {
  @media only screen and (min-width: 1px) and  (max-width: #{$phone-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$phone-width + 1}) and (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$tablet-width + 1}) and (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width + 1}) {
    @content;
  }
}

@mixin immobile {
  @media (min-width: #{$phone-width + 1}) {
    @content;
  }
}
