<h3 class="card-title flex justify-between">
  <%= @project.name %>

  <span class="field">
    <% if @code_review.persisted? %>
      Edit
    <% else %>
      New
    <% end %>
    code review for
    <%= text_field_tag :date, date, size: 10 %>
  </span>
</h3>

<%= render 'form', code_review: @code_review, project: @project %>

<%= back_button project_code_reviews_path %>
