<div class="gray2 pad-bot">
  <div>
    Previously: <%= previous.date.strftime '%b %e, %Y' %>
    <i>(<%= distance_of_time_in_words(previous.date, Date.today) %> ago)</i>
  </div>

  <p>
    Goals: <i><%= previous.goals %></i>
  </p>

  <p>
    Obstacles: <i><%= previous.obstacles %></i>
  </p>
</div>
