<h3 class="card-title flex justify-between">
  <%= @project.name %>

  <span class="field">
    Stand up for
    <%= text_field_tag :date, date, size: 10 %>
  </span>
</h3>

<%= render 'new_form' %>

<%= back_button project_stand_ups_path %>
